<jnlp 
    spec="$jnlpspec"
    codebase="$project.Url"
    href="$outputFile"> 
  <information> 
    <title>$project.Name</title> 
    <vendor>$project.Organization.Name</vendor> 
    <homepage href="$project.Url"/> 
    <description>$project.Description</description>
    <icon href="http://www.strategicinitiative.org/client/images/zeppelin.gif"/> 
    <icon kind="splash" href="http://www.strategicinitiative.org/client/images/Splash.jpg"/> 
  </information> 
#if($allPermissions)
  <security> 
     <all-permissions/> 
  </security> 
#end
  <resources> 
    <j2se version="$j2seVersion"/> 
     $dependencies
  </resources> 
  <application-desc main-class="$mainClass"/> 
</jnlp>
