<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- you can have more than one handler defined -->
	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="urlMap">
			<map>
				<entry key="/register/register.rpc">
					<ref bean="registerService" />
				</entry>
				<entry key="/console/authorization.rpc">
					<ref bean="authorizationService" />
				</entry>
				<entry key="/console/game.rpc">
					<ref bean="gameService" />
				</entry>
				<entry key="/console/player.rpc">
					<ref bean="playerService" />
				</entry>
			</map>
		</property>
	</bean>
</beans>