<html xmlns:wicket>
	<body>
		<wicket:panel>
			<table class="menu">
				<tr>
					<td class="side">
						<a class="side" href="/docs/guide.shtml">help</a>
					</td>
				</tr>
				<tr>
					<td class="sideitem">
						<a class="sideitem" wicket:id="RegistrationPage">register</a>
					</td>
					<tr>
						<td class="sideitem">
							<a class="sideitem" wicket:id="GuidePage">guide</a>
						</td>
					</tr>
					<tr>
						<td class="sideitem">
							<a class="sideitem" wicket:id="RulesPage">rules</a>
						</td>
					</tr>
					<tr>
						<td class="sideitem">
							<a class="sideitem" wicket:id="FAQPage">faq</a>
						</td>
					</tr>
					<tr>
						<td class="sideitem">
							<a class="sideitem" href="http://groups.google.com/group/stratinit">support</a>
						</td>
					</tr>
				</tr>
				<tr>
					<td>
						<a class="side" href="../docs/home.shtml">
						</a>
					</td>
				</tr>
				<tr>
					<td class="side">
						<a class="side" href="http://groups.google.com/group/stratinit">community</a>
					</td>
				</tr>
				<tr>
					<td class="sideitem">
						<a class="sideitem" wicket:id="PlayerRankPage">leader board</a>
					</td>
				</tr>
				<tr>
					<td class="sideitem">
						<a class="sideitem" wicket:id="TeamRankPage">team ranks</a>
					</td>
				</tr>
				<tr>
					<td class="sideitem">
						<a class="sideitem" wicket:id="GamesPage">games</a>
					</td>
				</tr>
				<tr>
					<td class="sideitem">
						<a class="sideitem" wicket:id="UnitsBuiltPage">units built</a>
					</td>
				</tr>
				<tr>
					<td class="sideitem">
						<a class="sideitem" href="http://groups.google.com/group/stratinit">forum</a>
					</td>
				</tr>
				<tr>
					<td class="sideitem">
						<a class="sideitem" href="http://www.google.com/moderator/#16/e=59eb7">wish list</a>
					</td>
				</tr>
				<tr>
					<td class="side">
						<a class="side" href="../docs/guide.shtml">technical</a>
					</td>
				</tr>
				<tr>
					<td class="sideitem">
						<a class="sideitem" href="http://code.google.com/p/stratinit/wiki/ChangeLog">change log</a>
					</td>
				</tr>
				<tr>
					<td class="sideitem">
						<a class="sideitem" href="http://code.google.com/p/stratinit/issues/list">issues</a>
					</td>
				</tr>
				<tr>
					<td class="sideitem">
						<a class="sideitem" href="http://code.google.com/p/stratinit/source/checkout">source</a>
					</td>
				</tr>
				<tr>
					<td class="sideitem">
						<a class="sideitem" wicket:id="AboutPage">about us</a>
					</td>
				</tr>
				<tr>
					<td class="sideitem">
						<a class="sideitem" wicket:id="ContactPage">contact us</a>
					</td>
				</tr>
			</table>
		</wicket:panel>
	</body>
</html>