<html xmlns:wicket>
	<body>
		<wicket:panel>
			<table class="menu">
				<tr>
					<td align="left" class="menu">
						<a class="menu" wicket:id="HomePage">home</a>
					</td>
					<td width="100%" class="menu" />
					<td align="right" class="menu">
						<span wicket:id="adminPanel" />
					</td>
					<td align="right" class="menu">
						<a class="menu" wicket:id="PlayPage">play</a>
					</td>
					<td align="right" class="menu">
						<span wicket:id="accountPanel" />
					</td>
					<td align="right" class="menu">
						<span wicket:id="loginLogoutPanel" />
					</td>
				</tr>
			</table>
		</wicket:panel>
	</body>
</html>